#### This is my Assesment-1

#### Basic Variable Swapping

###### 1. Switch values of two integers 
Input: n1 = 20, n2 = 30 

Output: n1 = 30, n2 = 20

In [14]:
n1 = 20
n2 = 30

n1,n2 = n2,n1

print(f"The value of n1 is {n1} and the value of n2 is {n2}")

The value of n1 is 30 and the value of n2 is 20

##### Switch values of two strings (characters)
   Input: char1 = "hello", char2 = "java"
   
   Output: char1 = "java", char2 = "hello"

In [15]:
char1 = "hello"
char2 = "java"

char1,char2 = char2,char1

print(f"The value of char1 is {char1} and the value of char2 is {char2}")

The value of char1 is java and the value of char2 is hello

##### 3. Switch one string value with one integer value

Input: n1 = 200, char2 = "java" 

Output: n1 = "java", char2 = 200

In [16]:
n1 = 200 
char2 = "java"

n1,char2 = char2,n1

print(f"The value of n1 is {n1} and the value of char2 is {char2}")
print("Output: n1 = java", "char2 = 200")

The value of n1 is java and the value of char2 is 200
Output: n1 = java char2 = 200

#### Banking and Transactions

##### 5. Update balance after deposit

 Initial balance: current_balance = 10000
 
 Deposit amount: deposit_balance = 5000

 Output:
 
‚óã Before deposit: current_balance = 10000

‚óã After deposit: current_balance = 15000

In [17]:
current_balance = 10000
deposit_balance = 5000

before_diposite_current_balance = current_balance
after_diposite_current_balance = current_balance + deposit_balance

print("Before deposit: current_balance = ",current_balance)
print("After deposit: current_balance = ",after_diposite_current_balance)

Before deposit: current_balance =  10000
After deposit: current_balance =  15000

##### 6. Update balance after withdrawal 

Before: balance = 12000 

Withdrawal: 3000

After =?

In [18]:
Avail_balance = 12000
withdrawl = 3000

after_withdrawl = Avail_balance - withdrawl

print("Available Balance = ", after_withdrawl)

Available Balance =  9000

##### 7. Increase shopping cart items by 3

Before: cart_items = 5 

After: ?

In [19]:
current_cart_items = 5
increase_shoping_cart_item_by = 3

after_increase_cart_limit = current_cart_items + increase_shoping_cart_item_by

print("After increase cart limit = ",after_increase_cart_limit)

After increase cart limit =  8

##### 8. Apply a 20% discount to a price 

Before: price = 1000 

After: ?

In [20]:
price_before_discount = 1000
discount = 20
discount_price = (price_before_discount * discount)//100 

Price_after_discount = price_before_discount - discount_price

print(f"Price after discount is {Price_after_discount} ")

Price after discount is 800

#### Academic Calculations

##### 9. Calculate student percentage

Input: obtain_marks = 430, 

out_of = 500 

Output: Percentage = ?

In [21]:
total_marks = 500
obtained_marks = 430

output_percentage = (obtained_marks * 100)/total_marks

print(f"Output percentage of the student is {output_percentage}")

Output percentage of the student is 86.0

##### 10. Calculate total and average of 4 subjects 

Input Example:

‚óè Subject 1: 80

‚óè Subject 2: 75

‚óè Subject 3: 90

‚óè Subject 4: 85

In [22]:
sub1 = 80
sub2 = 75
sub3 = 90
sub4 = 85 

total_of_marks = (sub1 + sub2 + sub3 + sub4)

average_of_marks = total_of_marks/4

print(f"Total marks are {total_of_marks} and average of marks are {average_of_marks}")

Total marks are 330 and average of marks are 82.5

##### 11. Calculate average of 3 numbers

Input: 

num1 = 25, 

num2 = 35, 

num3 = 45 

Output: 

Average = ?

In [23]:
num1 = 25
num2 = 35
num3 = 45

average = (num1+num2+num3)/3
print("The average of these nunmbers are ", average)

The average of these nunmbers are  35.0

##### Finance & Business Calculations

##### 12. Calculate profi t or loss percentage
Input: 

cost_price = 500, 

selling_price = 600 

Output: Profit or Loss = ?

In [24]:
cost_price = 500
selling_price = 600
profit = selling_price - cost_price

profit_percentage = (profit*100)//cost_price
output = profit_percentage

print("The Profit Percentage =",output,"%")

The Profit Percentage = 20 %

##### 13. Calculate simple interest 

Input: principal = 10000, rate = 5, time = 2 

Output: Simple Interest = ?

In [25]:
principal_amount = 10000
rate_of_interest = 5
time = 2

simple_interest = (principal_amount*rate_of_interest*2)/100

print(f"The simple interest if the given data is {simple_interest}")

The simple interest if the given data is 1000.0

##### 14. Calculate compound interest 

Input: 

principal = 10000, rate = 5, time = 2 

Output: Compound Interest = ?

In [71]:
principal = 10000
rate = 5
time = 2

calculate_amount = principal*(1+rate/100)**time
coumpound_interest = calculate_amount-principal
print(f"The compound interest for this amount is {coumpound_interest}")

The compound interest for this amount is 1025.0

##### 15. Calculate tax on income 

Input: income = 500000, 

tax_rate = 10 

Output: Tax = ?

In [29]:
income = 500000
tax_rate = 10

Tax = income//tax_rate

print(Tax)

50000

##### 16. Calculate percentage increase or decrease 

Input: 

initial_value = 200, 

final_value = 250 

Output: Percentage Change = ?

In [30]:
initial_value = 200
final_value = 250

change_in_percentage = ((final_value - initial_value)/initial_value)*100

print(f"Percentage Change {change_in_percentage}")

Percentage Change 25.0

#### Conversions

##### 17. Convert boolean to integer 

Input: True 

Output: ?

In [1]:
bool_val = True
print("initial value",bool_val)

bool_val = int(bool_val == True)
print("final value",bool_val)

initial value True
final value 1

##### 18. Convert 

float to string

Input: 45.67
Output: ?

In [6]:
float_value = 45.67
print("float value",float_value)

string_value = str(float_value == True)
print("striing value", string_value)

print(type(string_value))

float value 45.67
striing value False
<class 'str'>

##### 19. Convert 
20¬∞C to Fahrenheit 

Input: 20¬∞C 
Output: ?

In [16]:
cel_value = 20

c_to_f = (9/5)*cel_value+32

final_value = c_to_f
print(f"The conversion value of 20 degree celcius into fahrenheit is {final_value}")

The conversion value of 20 degree celcius into fahrenheit is 68.0
The conversion value of 20 degree celcius into fahrenheit is 68.0

##### 20. Convert 

50¬∞F to Celsius

Input: 50¬∞F

Output: ?

In [17]:
freh_value = 50
f_to_c = (5/9)*(freh_value-32)

final_value = f_to_c
print(final_value)

10.0

##### 21. Convert 

integer to binary 

Input: 25 

Output: ?

In [20]:
int_value = 25
binary = format(int_value,'b')

print(f"The binary number of the value {int_value} is {binary}")

The binary number of the value 25 is 11001

#### Geometry

##### 21. Calculate area of a triangle

Input: base = 10, height = 6 

Output: Area = ?

In [23]:
base =10
height = 6

area_of_triangle = (1/2)*base*height
print(f"Area of triangle is {area_of_triangle}")

Area of triangle is 30.0

##### 22. Calculate 

perimeter of a square 

Input: side = 9 

Output: Perimeter = ?

In [24]:
sides = 9
perimeter_of_a_square = 4*sides

print("The perimeter of the square is ",perimeter_of_a_square)

The perimeter of the square is  36

##### 23. Calculate 

diameter of a circle 

Input: radius = 14 

Output: Diameter = ?

In [27]:
radius = 14
diameter_of_circle = 2*radius

print("The diameter of the circle is ", diameter_of_circle)

The diameter of the circle is  28

##### 24. Calculate 

volume of a cube 

Input: side = 5 

Output: Volume = ?

In [28]:
side = 5
volume_of_cube = side**3

print("volume of cube is ", volume_of_cube)

volume of cube is  125

##### 25. Calculate 

surface area of a cuboid 

Input: l = 4, b = 3, h = 2 

Output: Surface Area = ?

In [30]:
lenght = 4
bidth = 3
height = 2

volume_of_cuboid = lenght*bidth*height

print("The volume of cuboid is ",volume_of_cuboid)

The volume of cuboid is  24

#### Mathematical Expressions

##### 26.Square of 

sum: (x + y)¬≤ 

Input: x = 5, y = 7 

Output: ?

In [31]:
x = 5
y = 7

sum_ = x**2+y**2+2*x*y

print(sum_)

144

##### 27.Simplify 

expression: x¬≤ - 4x + 4 

Input: x = 3 

Output: ?

In [32]:
x = 3
expression = x**2-4*x+4
print(expression)

1

##### 25.Evaluate: (a + b)(a - b) 

Input: a = 6, b = 2

Output: ?

In [33]:
a= 6
b=2
evaluation_formula = a**2-b**2

print("Output :", evaluation_formula)

Output : 32

##### 29.Sum of cubes: a¬≥ + b¬≥ 

Input: a = 1, b = 2 

Output: ?

In [36]:
a = 1
b = 2

sum_of_cube = (a+b)*(a**2-a*b+b**2)
print("The sum of cube expression is", sum_of_cube)

The sum of cube expression is 9

##### 30.Simplify: (x - y)¬≤ 

Input: x = 10, y = 6 

Output: ?

In [41]:
x = 10
y= 6

sum_expression = (x**2)+(y**2)-(2*x*y)

print("The evaluation of this expression is ", sum_expression)

The evaluation of this expression is  16

##### 31.Difference of cubes: x¬≥ - y¬≥ 

Input: x = 4, y = 1 

Output: ?

In [43]:
x = 4
y = 1

evaluation = (x-y)*(x**2+x*y+y**2)

print("The output value of this expression is ",evaluation)

The output value of this expression is  63

#### String Operations

##### 32.If user input is:

Name: Dev

Age: 25

City: Jaipur

Hobby: Cooking

#### Then Output is :

Meet Dev, a 25-year-old enthusiast from Jaipur.

In [56]:
Name = str(input("Enter the name"))
Age = int (input("Enter the age"))
City = str(input("Enter the city"))
Hobby = str(input("Enter the Hobby"))

print("Meet", Name, "a", Age, "-year-old ethusiast from", City,"When not busy with daily tasks ",Name, "loves spending time", Hobby, 
"Life in",City, "keeps", Name, "energetic and curious every single day."
" With coding as a passion, the future looks creative and inspiring for", Name, "in the", City, "City.")

Enter the name Dev
Enter the age 25
Enter the city jaipur
Enter the Hobby Cooking

Meet Dev a 25 -year-old ethusiast from jaipur When not busy with daily tasks  Dev loves spending time Cooking Life in jaipur keeps Dev energetic and curious every single day. With coding as a passion, the future looks creative and inspiring for Dev in the jaipur City.

##### 33.Create a Python program that asks the user for the following:

‚óè Full Name

‚óè Profession

‚óè Favorite Quote

‚óè Years of Experience

##### Output format:

Name : <Full Name>

Profession : <Profession>

Experience : <Years of Experience> years

Quote : "<Favorite Quote>"

In [60]:
Full_Name = str(input("Full Name: "))
Profession = str (input("Profession: "))
Favorite_Quote = str(input("Favorite Quote : "))
Years_of_Experience = int(input("Years of Experience: "))



print( "Name :",Full_Name)
print( "Profession :",Profession)
print( "Experience :",Years_of_Experience,"years")
print( "Quote :",Favorite_Quote)

Full Name:  vipin
Profession:  data analyst
Favorite Quote :  never give up
Years of Experience:  4

Name : vipin
Profession : data analyst
Experience : 4 years
Quote : never give up

##### 34.Ask the user:

‚óè Movie Name

‚óè Viewer Name

‚óè Seat Number

‚óè Show Time

Output format: üé¨ Movie Ticket üéüÔ∏è 

Movie : Movie Name

In [62]:
Movie_name = str(input("Movie Name"))
Viewer_name = str(input("Viewer Name"))
Seat_number = int(input("Seat Number"))
Show_time = str(input("Show Time"))

print("Movie Ticket")

print("Movie",Movie_name)
print("Viewer Name",Viewer_name )
print("Seat Number",Seat_number )
print("Show Time",Show_time)

Movie Name HARRY POTTER
Viewer Name vipin
Seat Number 22
Show Time 11:30

Movie Ticket
Movie HARRY POTTER
Viewer Name vipin
Seat Number 22
Show Time 11:30